.main {
  /* display: flex;
  flex-direction: column; */
  padding: 10px;
  height: 100vh;
}

.layout {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sidebar {
  width: 300px;
  background-color: #f2f2f2;
  padding: 20px; 
  margin-right: 20px;
  min-height: 100%;
  border-radius: 5px;
}

.menu {
  margin-top: 20px;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #fff;
}

.header {
  background-color: #f2f2f2;
  padding: 20px;
}

.body {
  padding: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo h6 {
  margin: 20px 0;
  font-size: 1.5rem;
  text-align: center;
} 

.menu-item {
  margin: 10px 0;
} 

.menu-item a {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
} 

.menu-item a:hover {
  color: #007bff;
  text-decoration: underline;
} 

.menu-item i {
  margin-right: 10px;
  font-size: 1.2rem;
  margin: 0 15px;
} 

.menu-item i:hover {
  color: #007bff;
}

.active {
  color: #007bff;
  padding: 10px;
}

.active a, .active i {
  color: #007bff;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    border-radius: 0;
    border-right: 0;
    border-bottom: 1px solid #ddd;
  }
  .content {
    padding: 20px;
  }
}

@media (max-width: 576px) {
  .sidebar {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    border-radius: 0;
    border-right: 0;
  }
  .content {
    padding: 20px;
  }
}